<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/ShopShow.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>珠韵首饰 冰韵 天然白色正圆S925银扣珍珠项链团购_1号团_1号店官网</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/Product.js"></script>
</head>
<body>
<div id="vue">
    <!--网页头部-->
<header>
    <div class="soubg">
        <div class="sou fl">
            <div class="s_city_b">
                <span>送货至：广州</span>
            </div>
        </div>
        <div class="fr top_right">
            <div class="fl">
                你好!请<a href="loadpage.html">登录</a>
                <a href="registerpage.html" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;<a href="javascript:void(0)">我的订单</a>&nbsp;|
            </div>
            <ul class="ss">
                <li class="ss_list">
                    <a href="javascript:void(0)">收藏夹</a>
                </li>
                <li class="ss_list ss_listBg">
                    <a href="javascript:void(0)">客户服务</a>

                    <div class="ss_list_bg">
                        <div class="ss_list_c">
                            <ul>
                                <li><a href="javascript:void(0)">包裹跟踪</a></li>
                                <li><a href="javascript:void(0)">常见问题</a></li>
                                <li><a href="javascript:void(0)">在线退款</a></li>
                                <li><a href="javascript:void(0)">在线投诉</a></li>
                                <li><a href="javascript:void(0)">配送范围</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ss_list">
                    <a href="javascript:void(0)">网站导航</a>
                </li>
            </ul>
            <span class="fl">|&nbsp;关注我们：</span>
                <span class="s_sh">
                    <a href="javascript:void(0)" class="sh1">新浪</a>
                    <a href="javascript:void(0)" class="sh2">微信</a>
                </span>
                <span class="fr">|&nbsp;
                    <a href="javascript:void(0)">手机版&nbsp;
                        <img src="images/s_tel.png" align="absmiddle"/>
                    </a>
                </span>
        </div>
    </div>

    <div class="top">
        <div class="logo">
            <a href="javascript:void(0)">
                <img src="images/logo.png"/>
            </a>
        </div>
        <div class="search">
            <form>
                <input type="search" value="" placeholder="请输入关键字" class="s_ipt"/>
                <input type="submit" value="搜索" class="s_btn"/>
            </form>
            <div class="fl">
                <a href="javascript:void(0)">咖啡</a>
                <a href="javascript:void(0)">iphone 6S</a>
                <a href="javascript:void(0)">新鲜美食</a>
                <a href="javascript:void(0)">蛋糕</a>
                <a href="javascript:void(0)">日用品</a>
                <a href="javascript:void(0)">连衣裙</a>
            </div>
        </div>
        <div class="i_car">
            <div class="car_t">购物车</div>
            <div class="last">
                <div class="noshop">
                    <img src="images/icon_tips2.png" alt=""/>
                    <h3>你的1号店购物车还是空的</h3>
                </div>
                <div class="shop">
                    <ul>
                        <li v-for="(item,index) in shopCar" >
                            <h4>{{ item.shopCar_title }}<span class="J_count">共{{ item.num }}件商品</span></h4>
                            <div class="clear">
                                <div class="shopImg">
                                    <img :src="item.shopCar_pic" alt=""/>
                                </div>
                                <div class="shopText">
                                    <div class="clear">
                                        <h5>{{ item.shopCar_commodity }}</h5>
                                        <a href="javascript:void(0)" class="close J_btnDelete">X</a>
                                    </div>
                                    <p>{{ item.shopCar_commDetails}}</p>
                                    <div class="clear">
                                        <div class="plush">
                                            <span class="J_btnDelCount" @click="minus(index)">-</span>
                                            <input class="J_inputCount" type="text" v-model="item.num" value="item.num"/>
                                            <span class="J_btnAddCount" @click="plus(index)">+</span>
                                        </div>
                                        <strong class="J_smallTotalPrice" id="aaa">￥{{ item.Price*item.num }}</strong>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="option"><a href="javascript:void(0)">意见反馈</a></div>
                    <div class="buy">
                        <p>合计 <span class="J_totalPrice">￥{{shopCarTotal}}</span></p>
                        <a href="javascript:void(0)">立即结算 <span class="J_totalCount"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--主体部分-->
<section class="center">
    <!--Begin Menu Begin-->
    <div class="menu_bg">
        <div class="menu">
            <!--Begin 商品分类详情 Begin-->
            <nav class="nav">
                <div class="nav_t">全部商品分类</div>
            </nav>
            <!--End 商品分类详情 End-->
            <nav>
                <ul class="menu_r">
                    <li><a href="index.html">首页</a></li>
                    <li class="active"><a href="CategoryList.html">自营超市</a></li>
                    <li><a href="">1号团</a></li>
                    <li><a href="">1号超市</a></li>
                    <li><a href="">女装</a></li>
                    <li><a href="">美妆</a></li>
                    <li><a href="">1号海购</a></li>
                    <li><a href="">团购</a></li>
                </ul>
            </nav>
            <a href="javascript:void(0)" class="m_ad"><img src="images/phone.png" alt=""/></a>
        </div>
    </div>
    <!--End Menu End-->
    <div class="i_bg">

        <div class="postion">
            <span class="fl">所有团购 > 包饰 > 珠韵首饰 <i>{{showCommodity[index].CommodityName }}</i></span>
        </div>

        <div class="clear" >
            <div id="tsShopContainer">
                <div id="tsImgS">
                    <a href="images/p_big.jpg" class="MagicZoom">
                        <img :src="showCommodity[index].CommodityPic" width="390" height="390" ref="ShowCommPic"/>
                    </a>
                </div>
                <div id="tsPicContainer">
                    <div id="tsImgSArrL"></div>
                    <div id="tsImgSCon">
                        <ul>
                            <li v-for="(item,index) in showCommodity[index].CommodityChildSrc" @click="ShowCommodityPic(index)"><img :src="item" /></li>
                        </ul>
                    </div>
                    <div id="tsImgSArrR"></div>
                </div>
            </div>

            <div class="pro_des">
                <div class="des_name">
                    <p>{{showCommodity[index].CommodityName }}</p>
                    全国包邮 送妈妈，{{showCommodity[index].CommodityName }}，使用方便，尊贵礼物。
                </div>
                <div class="des_price">
                    本店价格：<b>¥{{showCommodity[index].CommodityPrice }}</b><br/>
                    参考价：<span>¥{{showCommodity[index].CommodityActivePrice}}</span>
                </div>
                <div id="choice1" class="des_choice">
                    <span class="fl">尺码：</span>
                    <ul>
                        <li :class="{'checked': isCheckedSize==index}" v-for="(item,index) in showCommodity[index].CommoditySize" @click="SelectCommoditySize(index)">{{ item }}
                            <div class="ch_img"></div>
                        </li>
                    </ul>
                </div>
                <div id="choice2"  class="des_choice">
                    <span class="fl">颜色选择：</span>
                    <ul>
                        <li v-for="(item,index) in showCommodity[index].CommodityColor" :class="{'checked':isCheckedColor==index}" @click="SelectCommodityColor(index)">{{ item }}
                            <div class="ch_img"></div>
                        </li>
                    </ul>
                </div>
                <div class="des_share">
                    <div class="d_sh">
                        分享
                        <div class="d_sh_bg">
                            <a href="javascript:void(0)"><img src="images/sh_1.gif"/></a>
                            <a href="javascript:void(0)"><img src="images/sh_2.gif"/></a>
                            <a href="javascript:void(0)"><img src="images/sh_3.gif"/></a>
                            <a href="javascript:void(0)"><img src="images/sh_4.gif"/></a>
                            <a href="javascript:void(0)"><img src="images/sh_5.gif"/></a>
                        </div>
                    </div>
                    <div class="d_care"><a >关注商品</a></div>
                </div>
                <div class="des_join">
                    <div class="j_nums">
                        <input type="text" v-model="ShowCommodityNum" name="" class="n_ipt"/>
                        <input type="button" value="" class="n_btn_1" @click="IncreCommodity">
                        <input type="button" value="" class="n_btn_2" @click="ReduceCommodity"/>
                    </div>
                    <span class="fl" @click="AddShopCar" id="btn"><a><img src="images/j_car.png"/></a></span>
                </div>
                <!--模态框-->
                <div class="modal fade" id="showModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h4 class="modal-header">{{showCommodity[this.index].CommodityName}}</h4>
                            <div class="modal-body">购物车加入成功</div>
                            <div class="modal-footer">
                                <div class=" btn btn-default">确定</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="s_brand">
                <div class="s_brand_img"><img src="images/sbrand.jpg" width="188" height="132"/></div>
                <div class="s_brand_c"><a href="javascript:void(0)">进入品牌专区</a></div>
            </div>
        </div>

        <div class="content">
            <!--用户还喜欢-->
            <div class="l_history">
                <div class="fav_t">用户还喜欢</div>
                <ul>
                    <li>
                        <div class="img"><a href="javascript:void(0)"><img src="images/his_1.jpg" /></a></div>
                        <div class="name"><a href="javascript:void(0)">科爱KEAL儿童日本书包减负护脊</a></div>
                        <div class="price">
                            <span>¥599</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="javascript:void(0)"><img src="images/his_2.jpg" /></a></div>
                        <div class="name"><a href="javascript:void(0)">科爱KEAL小学生减负护脊书包超轻</a></div>
                        <div class="price">
                            <span>¥79</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="javascript:void(0)"><img src="images/his_3.jpg"/></a></div>
                        <div class="name"><a href="javascript:void(0)">珠韵首饰 天然白色珍珠项链</a></div>
                        <div class="price">
                            <span>¥339</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="javascript:void(0)"><img src="images/his_4.jpg" /></a></div>
                        <div class="name"><a href="javascript:void(0)">珠韵首饰 新品18K黄金珍珠耳钉</a></div>
                        <div class="price">
                            <span>¥1860</span>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="javascript:void(0)"><img src="images/his_5.jpg" /></a></div>
                        <div class="name"><a href="javascript:void(0)">珠韵首饰 姝丽大珍珠项链</a></div>
                        <div class="price">
                            <span>¥758</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="l_list">
                <!--推荐搭配-->
                <div class="des_border">
                    <div class="des_tit">
                        <ul>
                            <li class="current">推荐搭配</li>
                        </ul>
                    </div>
                    <div class="team_list">
                        <div class="img"><a href="javascript:void(0)"><img src="images/mat_1.jpg" /></a></div>
                        <div class="name"><a href="javascript:void(0)">粤通国际珠宝 999足金</a></div>
                        <div class="price">
                            <div class="checkbox">
                                <input type="checkbox" name="zuhe" checked="checked"/>
                            </div>
                           <span>￥76</span>
                        </div>
                    </div>
                    <div class="team_icon"><img src="images/jia_b.gif"/></div>
                    <div class="team_list">
                        <div class="img"><a href="javascript:void(0)"><img src="images/mat_2.jpg"/></a></div>
                        <div class="name"><a href="javascript:void(0)">珠韵 9.5-10.5mm珍珠项链</a></div>
                        <div class="price">
                            <div class="checkbox">
                                <input type="checkbox" name="zuhe"/>
                            </div>
                            <span>￥1890</span>
                        </div>
                    </div>
                    <div class="team_icon"><img src="images/jia_b.gif"/></div>
                    <div class="team_list">
                        <div class="img"><a href="javascript:void(0)"><img src="images/mat_3.jpg"/></a></div>
                        <div class="name"><a href="javascript:void(0)">清新耳环</a></div>
                        <div class="price">
                            <div class="checkbox">
                                <input type="checkbox" name="zuhe" checked/>
                            </div>
                            <span>￥232</span>
                        </div>
                    </div>
                    <div class="team_icon"><img src="images/equl.gif"/></div>
                    <div class="team_sum">
                        套餐价：￥<span>2000</span><br/>
                        <input type="text" value="1" class="sum_ipt"/><br/>
                        <a href="javascript:void(0)"><img src="images/z_buy.gif"/></a>
                    </div>
                </div>
                <!--商品属性-->
                <div class="des_border">
                    <div class="des_tit">
                        <ul>
                            <li :class="{'current':isCheckedTab==index}" v-for="(item,index) in comName"><a href="javascript:void(0)" @click.prevent="ShowTabCom(index)">{{ item }}</a></li>
                        </ul>
                    </div>
                   <!--组件渲染-->
                    <component :is="tabCom" v-on:fun="AddComment" ref="children"></component>
                </div>
                <!--商品详情-->
                <div class="des_border" id="p_details">
                    <div class="des_t">商品详情</div>
                    <div class="des_con">

                        <p align="center">
                            <img src="images/de2.jpg"/><br/><br/>
                            <img src="images/de3.jpg"/><br/><br/>
                            <img src="images/de4.jpg"/><br/><br/>
                            <img src="images/de5.jpg"/><br/><br/>
                            <img src="images/de6.jpg"/><br/><br/>
                            <img src="images/de7.jpg"/><br/><br/>
                            <img src="images/de8.jpg"/><br/><br/>
                        </p>

                    </div>
                </div>
                <!--商品评论-->
                <div class="des_border" id="p_comment">
                    <div class="des_t">商品评论</div>
                    <table border="0" class="jud_tab" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="175" class="jud_per">
                                <p>85.0%</p>好评度
                            </td>
                            <td width="300">
                                <table border="0" style="width:100%;" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="90">好评<a>（85%）</a></td>
                                        <td><div style="width:170px;height: 12px; background-color: #eaeaea"><div style="width:145px;height: 12px;background-color:#f95309"></div></div></td>
                                    </tr>
                                    <tr>
                                        <td>中评<a>（14%）</a></td>
                                        <td><div style="width:170px;height: 12px; background-color: #eaeaea"><div style="width:24px;height: 12px;background-color:#f95309"></div></div></td>
                                    </tr>
                                    <tr>
                                        <td>差评<a>（1%）</a></td>
                                        <td><div style="width:170px;height: 12px; background-color: #eaeaea"><div style="width:2px;height: 12px;background-color:#f95309"></div></div></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="185" class="jud_bg">
                                购买过珠韵首饰 天然银扣珍珠项链的顾客，在收到商品才可以对该商品发表评论
                            </td>
                            <td class="jud_bg">您可对已购买商品进行评价<br/><a href="javascript:void(0)"><img src="images/btn_jud.gif"/></a></td>
                        </tr>
                    </table>
                    <table border="0" class="jud_list" style="width:100%; margin-top:30px;" cellspacing="0" cellpadding="0">
                        <tr valign="top" v-for="(item,index) in Comments" :key="item.id">
                            <td width="160"><img :src=item.UserHeadPic width="20" height="20" align="absmiddle"/>{{item.UserName}}</td>
                            <td width="180">
                                颜色分类：<strong color="#999999">{{item.CommodityColor}}</strong> <br/>
                                型号：<strong color="#999999">{{item.CommoditySize}}</strong>
                            </td>
                            <td>
                                {{item.Comment}} <br/>
                                <strong color="#999999">{{item.DateTime}}</strong>
                            </td>
                        </tr>
                    </table>
                    <div class="pages">
                        <a href="javascript:void(0)" class="p_pre">上一页</a><a href="javascript:void(0)" class="cur">1</a><a href="javascript:void(0)">2</a><a
                            href="javascript:void(0)">3</a>...<a href="javascript:void(0)">20</a><a href="javascript:void(0)" class="p_pre">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--网页底部-->
<footer class="center">
    <!-- Footer -->
    <div class="b_btm_bg b_btm_c">
        <ul class="b_btm">
            <li>
                <a><img src="images/b1.png" width="62" height="62"/></a>
                <div><h2>正品保障</h2>正品行货 放心购买</div>
            </li>
            <li >
                <a><img src="images/b2.png" width="62" height="62"/></a>
                <div><h2>满38包邮</h2>满38包邮 免运费</div>
            </li>
            <li>
                <a><img src="images/b3.png" width="62" height="62"/></a>
                <div><h2>天天低价</h2>天天低价 畅选无忧</div>
            </li>
            <li>
                <a><img src="images/b4.png" width="62" height="62"/></a>
                <div><h2>准时送达</h2>收货时间由你做主</div>
            </li>
        </ul>
    </div>
    <div class="b_nav">
        <dl>
            <dt><a href="javascript:void(0)">新手上路</a></dt>
            <dd><a href="javascript:void(0)">售后流程</a></dd>
            <dd><a href="javascript:void(0)">购物流程</a></dd>
            <dd><a href="javascript:void(0)">订购方式</a></dd>
            <dd><a href="javascript:void(0)">隐私声明</a></dd>
            <dd><a href="javascript:void(0)">推荐分享说明</a></dd>
        </dl>
        <dl>
            <dt><a href="javascript:void(0)">配送与支付</a></dt>
            <dd><a href="javascript:void(0)">货到付款区域</a></dd>
            <dd><a href="javascript:void(0)">配送支付查询</a></dd>
            <dd><a href="javascript:void(0)">支付方式说明</a></dd>
        </dl>
        <dl>
            <dt><a href="javascript:void(0)">会员中心</a></dt>
            <dd><a href="javascript:void(0)">资金管理</a></dd>
            <dd><a href="javascript:void(0)">我的收藏</a></dd>
            <dd><a href="javascript:void(0)">我的订单</a></dd>
        </dl>
        <dl>
            <dt><a href="javascript:void(0)">服务保证</a></dt>
            <dd><a href="javascript:void(0)">退换货原则</a></dd>
            <dd><a href="javascript:void(0)">售后服务保证</a></dd>
            <dd><a href="javascript:void(0)">产品质量保证</a></dd>
        </dl>
        <dl>
            <dt><a href="javascript:void(0)">联系我们</a></dt>
            <dd><a href="javascript:void(0)">网站故障报告</a></dd>
            <dd><a href="javascript:void(0)">购物咨询</a></dd>
            <dd><a href="javascript:void(0)">投诉与建议</a></dd>
        </dl>
        <div class="b_tel_bg">
            <a href="javascript:void(0)" class="b_sh1">新浪微博</a>
            <a href="javascript:void(0)" class="b_sh2">腾讯微博</a>

            <p>
                服务热线：<br/>
                <span>400-123-4567</span>
            </p>
        </div>
        <div class="b_er">
            <div class="b_er_c"><img src="images/er.gif" /></div>
            <img src="images/ss.png"/>
        </div>
    </div>
    <div class="btmbg">
        <div class="btm">
            备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright© 1号店网上超市 2007-2019，All Rights Reserved. 复制必究 ,
            Technical Support: Dgg Group <br/>
            <img src="images/b_1.gif"/>
            <img src="images/b_2.gif"/>
            <img src="images/b_3.gif"/>
            <img src="images/b_4.gif"/>
            <img src="images/b_5.gif"/>
            <img src="images/b_6.gif"/>
        </div>
    </div>
    <!--Footer -->
</footer>
</div>
</body>
<script>

</script>
</html>
